.background {
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  position: fixed;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #eee;
  background-color: #227d51;
  height: 64px;
  padding-inline: 48px;
  line-height: 64px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 15px;
}

.createButton {
  display: inline-block;
  background: linear-gradient(45deg, #ff7878, #ff5722);
  color: white;
  padding: 6px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(255, 87, 34, 0.4);
  transition: all 0.3s;
  margin-left: 15px;
  text-decoration: none;
  line-height: normal;
}

.createButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(255, 87, 34, 0.6);
}

.header a {
  background: none;
}

.headerTitle {
  color: #eee;
}

/* 移动端响应式设置 */
@media screen and (max-width: 768px) {
  .createButton {
    display: none; /* 在移动端隐藏头部的创建按钮 */
  }
  
  .headerLeft {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  
  .header {
    height: auto;
    padding: 10px 20px;
    line-height: normal;
  }
}

.content {
  min-height: 120px;
  line-height: 120px;
  overflow: initial;
}

.footer {
  margin-top: 20px;
  color: #eee;
  background-color: #333;
}

.layout {
  text-align: center;
  border-radius: 8px;
  min-height: 100vh;
  background-color: #ffffff77;
}
